$header-color: #fbd133;
$font-color: #4b4b4b;
$font: Roboto;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font;
  color: $font-color;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: $header-color;
  padding: 20px;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 50px;
  }
  nav {
    display: none;
    height: 50px;
  }
}

button.btn {
  display: flex;
  align-items: center;
  border: 1px solid #caac2e;
  color: $font-color;
  font-size: 25px;
  padding: 0px 10px 0 0;
  font-family: $font;
  background-color: $header-color;
  img {
    width: 40px;
    margin: 0 5px 0 0;
  }
}

main {

  article {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    p {
      margin: 0;
    }
    img {
      align-self: center;
      width: 100%;
    }
  }
}
@media screen and (min-width: 400px){

}

@media screen and (min-width: 481px){
  .large {
    display: flex;
    flex-direction: row;
    margin: 0;
    .text {
      padding: 0 20px 0 20px;
    h2 {
      margin-top: 0;
    }
    }
    img{
      width: 50%;
      margin: 0;
    }
  }
  .small article:nth-child(3n+1){
    margin-left: 10px;
  }
  .small article:nth-child(3n+3){
    margin-right: 10px;
  }
  .small {
    display: flex;
    flex-wrap: wrap;
    article {
      width: 32%;
      padding: 10px;
      h2 {
        font-size: 18px;
      }
    }

  }
  .smallart {

    display: flex;
    flex-direction: column;
    margin: 0;

}
}
