/*background color = #fafafa*/
/*button blue = #3897f0*/
/*border color = #e6e6e6*/
/*footer link color = #003569*/
/*text grey color = #999*/

body, input {
  font-family: 'Karla', sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  padding: 55px;
}
.container {
  max-width: 900px;
}
.columns {
  display: flex;

}
.signup, .login {
  background-color: white;
  border: solid 2px #e6e6e6 ;
  width: 355px;
}
.info {
  width: 35%;
}
.big-image {
  margin: 10px;
  padding: 10px;
}
p {
  text-align: center;

}
.signup, .login, .apps {
  padding: 15px;
  margin: 10px;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  margin: 5px;
  line-height: 30px;
}
button {
  background-color: #3897f0;
  color: white;
  height: 35px;
  border-radius: 5px;

}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #999;
}
.appslogos {
  display: flex;
  justify-content: center;
}
.apps {
  width: 355px;
}
.apps img{
  margin: 5px;
}
footer {
  display: flex;
  justify-content: space-between;
}
a {
  line-height: 50px;
  color: #003569;
  text-decoration: none;
}
.login {
height: 50
}
